@import url('https://fonts.googleapis.com/css?family=Unica+One');

@import 'utilities';
@import 'variables';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include m(0);
  @include p(0);
  background-color: $white;
  margin: 0;
}
body, form, input {
  font-family: 'Unica One', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @include m(0);
  color: $dark;
  font-size: 2.5em;
  letter-spacing: 0.07em;
  text-align: center;
}
