$switch-height: 30px;
$button-width: 30px;
@import 'scss/utilities';

:local(.wrap) {
  @include m;
  @include p(s);
  bottom: 0;
  height: $switch-height;
  position: fixed;
  right: 0;
  .label {
    @include mv(s);
    cursor: pointer;
    text-transform: uppercase;
    &.on {
      @include pr(s);
    }
    &.off {
      @include pl(s)
    }

  }
}
:local(.slider) {
  @include bubble;
  @include mv(0);
  @include p(0);
  bottom: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  transition: transform 0.3s ease-out;
  width: 50%;
  &.on {
    transform: translateX(100%);
  }
}
