@import 'scss/utilities';
@import 'scss/variables';

:local(.container) {
  @include ph;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  z-index: 1;
}

:local(.content) {
  @include mh(a);
  overflow-x: visible;
  overflow-y: hidden;
  width: 500px;
  max-width: 100%;
  .block,
  .inline {
    @include bubble;
    margin-left: $shadow-size;
    margin-right: $shadow-size;
  }
  .inline {
    display: inline-block;
    &.right {
      float: right;
    }
    &.left {
      float: left;
    }
  }
}
