@import 'scss/utilities';
@import 'scss/variables';

$shadow-size: 7px;
:local(.container) {
  @include ph;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  z-index: 1;
}

@mixin bubble {
  @include p;
  @include mv(s);
  background: linear-gradient(to right, transparentize($white, .4), transparentize($white, .3), transparentize($white, .4));
  border-radius: 15px;
  box-shadow: 0 0 $shadow-size $shadow-size transparentize($dark, .99);
}

:local(.content) {
  @include mh(a);
  overflow-x: visible;
  overflow-y: hidden;
  width: 500px;
  max-width: 100%;
  .block,
  .inline {
    @include bubble;
    margin-left: $shadow-size;
    margin-right: $shadow-size;
  }
  .inline {
    display: inline-block;
    &.right {
      float: right;
    }
    &.left {
      float: left;
    }
  }
}
